/* reset */

:root {
  --main-color: rgba(0, 0, 0, 1);
  --link-active-color: rgba(0, 172, 220, 1);
  --white-background-color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--main-color);
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-background-color);
}

.header__logo {
  display: flex;
  flex-shrink: 0;
}

.header__img {
  width: 100%;
  vertical-align: top;
  max-width: 100%;
  max-height: 40px;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  line-height: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.menu__link:hover {
  color: var(--link-active-color);
}

.is-active {
  color: var(--link-active-color);
}

.is-active::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-active-color);
  border-radius: 8px;
}
